* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jomolhari', serif;
}

img {
    width: 100%;
    height: 100%;
}

a {
    color: #000000;
    text-decoration: none;
}

.navbar {
    max-width: 692px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    padding: 32px 0 24px 0;
}

.navbar.books {
    padding: 32px 0 55px 0;
}

.navbar .navbar-logo {
    max-width: 80px;
    max-height: 78px;
    margin-bottom: 32px;
}

.navbar .line {
    width: 100%;
    max-width: 536px;
    border-bottom: 1px solid #B3B3B3;
    margin-bottom: 24px;
}

.navbar .line.second {
    margin-top: 24px;
}

.navbar .navbar-list {
    width: 100%;
    display: flex;
    gap: 71px;
    justify-content: center;
}

.navbar .navbar-list .navbar-item a {
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
}

.navbar .navbar-list .navbar-item a.active, .navbar .navbar-list .navbar-item a:hover {
    border-bottom: 1px solid #20110D;
}

.first-section .slider {
    width: 100%;
    height: 100%;
    max-height: 1000px;
}
.first-section .slider .slick-prev, .first-section .slider .slick-next {
    display: none !important;
}

.first-section .slider .slider-item img {
    max-height: 1000px;
    object-fit: cover;
}

.about-section {
    padding: 150px 0;
}

.about-section .content, .forth-section .content, .sixth-section .content,
.sixth-section .content {
    width: 100%;
    max-height: 1070px;
    display: flex;
}

.about-section .content .text {
    width: 100%;
    border-top: 1px solid #111111;
    border-bottom: 1px solid #111111;
    /*padding: 336px 0;*/
    display: flex;
    color: #111111;
}

.about-section .content .text .author-info {
    width: 100%;
    max-width: 544px;
    margin: auto;

}

.about-section .content .text .author-info .name, .forth-section .content .text .text-info .title {
    font-weight: 400;
    font-size: 40px;
    line-height: 64px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    padding-bottom: 18px;
}

.about-section .content .text .author-info .speciality {
    max-width: 520px;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.08em;
    text-transform: capitalize;
}

.about-section .content .text .author-info .line {
    width: 100%;
    max-width: 544px;
    border-bottom: 1px solid #B3B3B3;
    margin: 32px 0;
}

.about-section .content .text .author-info .description {
    max-width: 534px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.08em;
    font-family: 'Jomolhari', serif;
}

.about-section .content .image, .forth-section .content .image, .sixth-section .content .image {
    width: 100%;
    max-width: 888px;
    max-height: 1070px;
}

.about-section .content .image img {
    max-height: 1070px;
    object-fit: cover;
}

.third-section, .forth-section, .fifth-section, .single-book-info {
    padding-bottom: 150px;
}

.third-section .content {
    max-width: 1124px;
    margin: 0 auto;
    text-align: center;
    color: #111111;
    display: grid;
    gap: 32px;
}

.third-section .content .article-date {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
}

.third-section .content .title {
    font-size: 40px;
    line-height: 64px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
}

.third-section .content .description {
    font-size: 18px;
    line-height: 150%;

}

.third-section .content .author {
    font-size: 20px;
    line-height: 150%;
}

.forth-section .content .text {
    width: 100%;
    border-top: 1px solid #111111;
    border-bottom: 1px solid #111111;
    padding: 170px 0;
    color: #111111;
}

.forth-section .content .text .text-info {
    width: 100%;
    max-width: 500px;
    margin: auto;
}

.forth-section .content .text .text-info .description {
    display: grid;
    gap: 24px;
    max-width: 500px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.08em;
    font-family: 'Jomolhari', serif;
}

.forth-section .content .first-image {
    background: #D4D4D4;
    display: flex;
    width: 100%;
    max-width: 888px;
    max-height: 1070px;
}

.forth-section .content .first-image img {
    max-width: 607px;
    max-height: 837px;
    margin: auto;
}

.forth-section .content .second-image {
    width: 100%;
    max-height: 1070px;
    border-top: 1px solid #111111;
    border-bottom: 1px solid #111111;
    display: flex;
    padding: 51px 0;
}

.forth-section .content .second-image img {
    max-width: 661px;
    max-height: 967px;
    margin: auto;
}

.fifth-section .content {
    max-width: 1520px;
    margin: 0 auto;
    text-align: center;
    color: #111111;
}

.fifth-section .content .title {
    font-family: 'Jomolhari';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 150%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    padding-bottom: 32px;
}

.fifth-section .content .description {
    max-width: 1110px;
    width: 100%;
    display: grid;
    gap: 32px;
    font-family: 'Jomolhari';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    margin: 0 auto;
}

.sixth-section .content .text {
    width: 100%;
    border-top: 1px solid #111111;
    border-bottom: 1px solid #111111;
    padding: 55px 0;
    color: #111111;
}

.sixth-section .content .text .text-info {
    width: 100%;
    max-width: 580px;
    margin: auto;
}

.sixth-section .content .text .text-info .title {
    font-family: 'Jomolhari';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 150%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    padding-bottom: 22px;
}

.sixth-section .content .text .text-info .description {
    display: grid;
    gap: 24px;
    max-width: 455px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.08em;
    font-family: 'Jomolhari', serif;
}

.footer-content {
    padding: 150px 0;
    font-family: 'Jomolhari';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 150%;
    letter-spacing: 0.16em;
    color: #111111;
    text-align: center;
}

.books-slider {
    padding: 100px 0;
    border-top: 1px solid #111111;
    border-bottom: 1px solid #111111;
}

.books-slider .book-list {
    max-width: 1680px;
    margin: 0 auto;
}

.books-slider.more-books {
    padding: 75px 0 100px 0;
}

.books-slider .other-books {
    font-weight: 400;
    font-size: 40px;
    line-height: 64px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    padding-bottom: 75px;
    color: #111111;
}

.books-slider .slick-slide {
    margin: 0 12px;
}

.books-slider .book-list .book-item {
    max-width: 544px;
    height: 854px;
    background: #D4D4D4;
    padding: 75px 24px;
    margin: 0 auto;
}

.books-slider .book-list .book-item img {
    display: block;
    max-height: 704px;
    max-width: 496px;
    margin: 0 auto;
}

.books-slider .slick-prev {
    position: absolute;
    width: 26px;
    bottom: -7%;
    left: 50%;
    background: url("../images/prev-slide.png") no-repeat center;
    margin-left: -4%;
}

.books-slider .slick-prev:hover {
    background: url("../images/prev-slide-active.png") no-repeat center;
}

.books-slider .slick-next {
    position: absolute;
    width: 26px;
    bottom: -7%;
    right: 50%;
    background: url("../images/next-slide.png") no-repeat center;
    margin-right: -2%;
}

.books-slider .slick-next:hover {
    background: url("../images/next-slide-active.png") no-repeat center;
}

.books-slider .slick-prev, .books-slider .slick-next {
    color: transparent;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.books-info .content {
    display: flex;
    width: 100%;
    /*max-height: 1070px;*/
    padding-top: 150px;

}

.books-info .content .left-side {
    width: 100%;
    max-width: 888px;
    padding: 409px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #D4D4D4;
    margin: 0 auto;
}

.books-info .content .left-side .book-title {
    font-family: 'Jomolhari';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 0.02em;
    color: #000000;
    cursor: pointer;
    text-transform: capitalize;
    padding: 24px 0;
    width: 100%;
    text-align: center;
    position: relative;
}

.books-info .content .left-side .book-title:after {
    content: '';
    width: 100%;
    max-width: 333px;
    border-bottom: 0.09em solid #000000;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    margin: 0 auto;
}

.books-info .content .left-side .book-title.active:after {
    border-bottom: 0.1em solid #000000;
}

.books-info .right-side {
    padding: 275px 0;
    max-width: 1032px;
    border-top: 1px solid #111111;
    border-bottom: 1px solid #111111;
    width: 100%;
}

.books-info .right-side .book-description {
    width: 100%;
    max-width: 460px;
    margin: 0 auto;
    color: #111111;
}

.books-info .right-side .book-description h2 {
    font-weight: 400;
    font-size: 40px;
    line-height: 64px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    padding-bottom: 24px;
}

.books-info .right-side .book-description p {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.08em;
    padding-bottom: 48px;
}

.books-info .right-side .book-description .book-description-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.books-info .right-side .book-description .book-description-footer .book-author {
    width: 100%;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.02em;
}

.books-info .right-side .book-description .book-description-footer .read-more {
    display: flex;
    justify-content: end;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    width: 100%;
    align-items: center;
    gap: 18px;
}

.books-info .right-side .book-description .book-description-footer .read-more img {
    max-width: 20px;
    max-height: 14px;
}

.single-book-info .content {
    width: 100%;
    display: flex;
}

.single-book-info .content .image {
    width: 100%;
    max-width: 888px;
    background: #D4D4D4;
    padding: 278px 0;
}

.single-book-info .content .image img {
    max-width: 607px;
    max-height: 837px;
    display: block;
    margin: auto;
}

.single-book-info .content .book-info {
    width: 100%;
    border-top: 1px solid #111111;
    border-bottom: 1px solid #111111;
    padding: 140px 25px;
    color: #111111;
    text-align: center;
    font-family: 'Jomolhari';
    font-style: normal;
}

.single-book-info .content .book-info .title {
    font-size: 40px;
    line-height: 64px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    padding-bottom: 50px;
    max-width: 474px;
    display: block;
    margin: 0 auto;
}

.single-book-info .content .book-info .description {
    display: grid;
    gap: 32px;
    max-width: 756px;
    margin: 0 auto;
}

.single-book-info .content .book-info .description p {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.08em;
}

.single-book-info .content .book-info .author-name {
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.02em;
    padding-top: 50px;
}

.first-section .main-image {
    width: 100%;
    height: 100%;
}

.about-section .date {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #111111;
}

.musings-fifth-section .content {
    width: 100%;
    max-height: 1000px;
    display: flex;
    padding: 80px 142px;
    border-top: 1px solid #111111;
    border-bottom: 1px solid #111111;
}

.musings-fifth-section .content .images-content {
    width: 100%;
    max-height: 840px;
    margin: auto;
    background: #D4D4D4;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 128px;
    padding: 51px 25px 55px 25px;
}

.musings-fifth-section .content .images-content .firstImage {
    max-width: 686px;
    max-height: 714px;
}

.musings-fifth-section .content .images-content .secondImage {
    max-width: 479px;
    max-height: 734px;
}

.video-section {
    padding: 150px 0;
    border-bottom: 1px solid #111111;
}


.video-section .video-image {
    display: block;
    width: 100%;
    height: 100%;
    max-width: 1252px;
    max-height: 698px;
    margin: 0 auto;
    cursor: pointer;
}

.video-section .video-content {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    max-width: 75%;
    margin: 0 auto;
    z-index: 1002;
    overflow: hidden;
    padding: 90px 0;
}

.video-section .video-content video {
    width: 100%;
    height: 100%;
}

.boxclose {
    float: right;
    cursor: pointer;
    color: #fff;
    border-radius: 3px;
    font-size: 45px;
    font-weight: bold;
    display: inline-block;
    line-height: 0px;
    padding: 11px 3px;
    position: absolute;
    right: 4%;
    top: 11%;
    z-index: 1002;
    opacity: 0.9;
}

#fade {
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1001;
    -moz-opacity: 0.8;
    opacity: .80;
    filter: alpha(opacity=80);
}

.boxclose:before {
    content: "×";
    top: 0;
    position: absolute;
}

#fade:hover ~ #boxclose {
    display:none;
}

/*media queries*/
@media screen and (max-width: 1460px) {
    .video-section .video-content .boxclose {
        top: 10%;
    }
}

@media screen and (max-width: 991px) {
    .books-info .content, .about-section .content, .forth-section .content, .sixth-section .content {
        flex-direction: column;
        padding: 0;
    }

    .about-section .content, .forth-section .content, .sixth-section .content{
        max-height: 100%;
    }

    .sixth-section .content {
        max-height: 100%;
        flex-direction: column-reverse;
    }

    .about-section .content .image, .forth-section .content .image, .sixth-section .content .image {
        max-width: 100%;
    }

    .books-info .content .left-side, .books-info .right-side, .single-book-info .content .image {
        max-width: 100%;
        padding: 150px 25px;
    }

    .books-slider .slick-prev {
        margin-left: -5%;
    }

    .books-slider .slick-next {
        margin-right: -5%;
    }

    .single-book-info .content {
        flex-direction: column;
    }

    .musings-fifth-section .content {
        max-height: 100%;
        padding: 80px 25px;
    }

    .musings-fifth-section .content .images-content {
        max-height: 100%;
        flex-direction: column;
    }

    .video-section .video-content {
        max-width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .books-slider .slick-prev {
        margin-left: -15%;
    }

    .books-slider .slick-next {
        margin-right: -15%;
    }
}

@media screen and (max-width: 576px) {
    .navbar .navbar-list {
        gap: 30px;
    }

    .books-slider .book-list .book-item {
        max-width: 100%;
        height: 100%;
    }

    .books-info .right-side .book-description .book-description-footer {
        flex-direction: column;
    }

    .books-info .right-side .book-description .book-description-footer .read-more {
        justify-content: start;
        margin-top: 24px;
    }

    .books-slider .book-list .book-item img {
        max-height: 100%;
        max-width: 100%;
    }

    .sixth-section .content .text .text-info, .fifth-section .content .description,
    .third-section .content {
        max-width: 100%;
        padding: 0 25px;
    }

    .about-section .content .text, .forth-section .content .text {
        padding: 80px 25px;
    }

    .musings-fifth-section .content {
        padding: 50px 25px;
    }

    .third-section, .forth-section, .fifth-section, .single-book-info {
        padding-bottom: 80px;
    }

    .about-section {
        padding: 80px 0;
    }

    .musings-fifth-section .content .images-content {
        gap: 80px;
    }

    .boxclose {
        right: 5%;
    }

    .video-section .video-content {
        bottom: 0;
        top: 80px;
    }
}